#all_words_root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toolbar {
    height: 1.5rem;
    width: 100%;
}

#toolbar-root {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#toolbar-add {
    margin-left: 1rem;
    border-radius: 5px;
}

#toolbar-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
}

#toolbar-search-label {
    font-size: 0.6rem;
}

#toolbar-search-input {
    font-size: 0.6rem;
    width: 10rem;
}

#toolbar-select {
    font-size: 0.8rem;
    margin-right: 1rem;
    height: 1.5rem;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #eeeeee;
}

#main-content {
    margin-top: 1rem;
    width: 100%;
    padding-bottom: 0.5rem;
}

#word-line-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#word-line-container:hover {
    background-color: #555555;
}

.word-line-span {
    display: flex;
    align-items: center;
}

.word-line-span:hover {
    cursor: pointer;
}

.word-line-span button {
    padding-left: 3px;
    padding-right: 3px;
    width: 4rem
}

#page-selector {
    width: 100%;
    margin-bottom: 0.5rem;
}

.page-list-container>span {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.page-number {
    margin: 1%;
}

.page-number:hover {
    cursor: pointer;
    color: red;
}
