body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

#profile {
    height: 100%;
    display: flex;
}

#profile-sidebar {
    width: 12rem;
    display: flex;
    flex-direction: column;
    background-color: #333333;
}

#profile-detail {
    flex: 1;
}

#profile-back {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.profile-sidebar-button {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-bottom: 0.6rem;
    border: 0;
    border-radius: 10px;
    background-color: #444444;
}

.profile-sidebar-button:hover {
    background-color: #444444 !important;
}

#profile-signout {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-top: auto;
}
